*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
.item{
    background-color: hsl(0, 56%, 37%);
    border: 1px solid #000;
    
}