*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.contenair{
    display: flex;
    flex-direction: row;
    width: 170vh;
    padding:20px;
    margin-top:60px ;
   
}
.bloc-1{
    background-color: #4b2cc3;
    width: 70%;
    padding:20px;
    position: relative;
}
.paragraphe-1{
    font-family:  'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    color: white;


}
.paragraphe-2{
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#a5fb9d ;
}
.paragraphe-3{
    font-size: 1.2rem;
    position: relative;
    color: hsla(60, 33%, 94%, 0.898);

}
p{
    position: relative ;
    bottom: calc(30%);
    left: calc(18%);
}
.html{
    color: hsl(0, 97%, 34%);
    font-style: italic;
}
.css{
    color: hsl(0, 97%, 34%);
    font-style: italic;
}
.javascript{
    color: hsl(0, 97%, 34%);
    font-style: italic;
}
.boutton{
    padding: 10px;
    background-color: hsl(228, 59%, 61%); 
    border:none;
    border-radius:5px;
    color: aliceblue;
    position: relative;
    bottom: -20px;
    

}
.name{
    text-transform: uppercase;
    color: #a5fb9d;
    font-weight: bold;
}
.bloc-2{
    background-color:#c6e377;
    width: 30%;
    position: relative;
}
.academy{
    position: absolute;
    bottom: 15px;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    color: #272525e2;
    font-family: 'Times New Roman', Times, serif;
}
.image{
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: #224aeb 3px 15px 5px solid ;
    left: calc(85%);
    z-index: 2;
    bottom: calc(-15%);
    box-shadow: 15px 15px 0 #4b2cc3;
    outline:10px solid hwb(0 28% 69%);
    outline-offset: -10px;

 }
.pattern-1{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 90px;
    top: 20px;
}
.pattern-2{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 90px;
   bottom: calc(11%);
}
.dev-image{
     width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.tiret-1{
 background-color: #224aeb;
    position: absolute;
    width: 50px;
    height: 6px;
    left: calc(60%);
    top: 20px;
}
.tiret-2{
    background-color: #224aeb;
    position: absolute;
    width: 30px;
    height: 6px;
    left: calc(60%);
    top: 40px;
}